

/* styles for ALL mobile sizes */
@media all and (max-width: 1024px) {
    .globe-placeholder {
        display: none;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) { 
    .interests-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (max-width: 480px) { 
    .interests-grid {
        grid-template-columns: 1fr 1fr;
    }
    .interest-wrapper {
        width: 120px;
        height: 120px;
    }
}